alias ll="ls -l"
alias la="ls -a"
alias c="clear"
alias cd..="cd .."
alias tf="terraform"
alias a='source venv/bin/activate'
alias code='codium'

alias gs="git status"
alias gb="git checkout -b"
alias gc="git commit -m"
alias ga="git add -A; git status"
alias gac="git add -A; git commit -m "
alias gap="git add -p"
alias gch="git checkout"
alias gl="git log --oneline --graph --shortstat"
alias gpd="git pull"
alias gpu="git push"

alias rc="code ~/.zshrc"
alias prompt="code ~/.config/starship.toml"
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

alias weather='curl "http://wttr.in/37211"'
alias apod='open https://apod.nasa.gov/apod/astropix.html'
alias nukepip='source venv/bin/activate && pip uninstall -y -r <(pip freeze) && pip install -r requirements-dev.txt'
alias nukenpm='rm -rf node_modules && npm i'
alias lsports="sudo lsof -i -P -n | grep LISTEN"

alias awsume='f(){ export AWS_SDK_LOAD_CONFIG=1; export AWS_PROFILE="$1"; }; f'

